<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.del.edu.aiexambackend.mapper.ClassStudentMapper">

    <resultMap id="BaseResultMap" type="com.del.edu.aiexambackend.model.entity.ClassStudent">
            <id property="id" column="id" />
            <result property="classId" column="class_id" />
            <result property="studentId" column="student_id" />
            <result property="isDelete" column="is_delete" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="editTime" column="edit_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,class_id,student_id,is_delete,create_time,update_time,
        edit_time
    </sql>
</mapper>
